.score {
  height: 20vh;
  display: flex;
  align-items: center;
  color: rgb(224, 224, 224);
  justify-content: space-around;

  h2 {
    padding: 5px;
    width: 120px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: fantasy;
    letter-spacing: 1px;
    border-radius: 15px;
    border: 3px solid black;
    background-color: rgb(224, 224, 224);
    box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.5);
  }

  p {
    text-align: center;
    padding: 10px;
    font-size: 15px;
  }
}
