.notify {
  position: relative;
  input {
    z-index: 3;
    width: 30px;
    height: 30px;
    left: 25px;
    top: 5px;
    display: flex;
    outline: none;
    cursor: pointer;
    appearance: none;
    position: absolute;
    border-radius: 50%;
    align-items: center;
    background: #48da9b;
    justify-content: center;
  }

  input:before,
  input:after {
    z-index: 10;
    content: "";
    width: 20px;
    height: 2px;
    position: absolute;
    transition: 0.4s all;
    background: rgb(65, 65, 65);
    animation: flashing 1s ease-in-out infinite;
    box-shadow: 0px 0px 50px 5px rgb(255, 255, 255, 1);
  }

  input:after {
    transform: rotate(90deg);
  }

  input:checked ~ p {
    display: block;
    animation-name: dropping;
    animation-duration: 1s;
    animation-timing-function: ease;
  }

  input:checked:before,
  input:checked:after {
    transition: 0.4s all;
    transform: rotate(360deg);
    box-shadow: none !important;
  }

  p {
    display: none;
    padding: 5px 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 2px;
    border: 2px solid #48da9b;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.5) inset;
  }

  a {
    font-weight: 600;
    width: fit-content;
    text-decoration: none;
    color: #48da9b;
    &:hover {
      animation: swing 0.6s ease;
      animation-iteration-count: 1;
    }
  }
}

@keyframes dropping {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(8%);
  }
  65% {
    transform: translateY(-4%);
  }
  80% {
    transform: translateY(4%);
  }
  95% {
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes flashing {
  0% {
    box-shadow: 0px 0px 42px 5px rgb(255, 255, 255, 1);
  }

  50% {
    box-shadow: 0px 0px 50px 5px rgb(255, 255, 255, 1);
  }

  100% {
    box-shadow: 0px 0px 42px 5px rgb(255, 255, 255, 1);
  }
}
