.match {
  top: 40%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: opacity 0.9s ease 0.5s;

  .winner {
    color: rgb(220, 220, 220);
    text-align: center;
    font-size: 30px;
    padding-top: 15px;
  }
}
